/* src/pages/ProgramsPage.css */
.ProgramsPage {
  display: flex;
}

.content {
  margin-left: 200px;
  padding: 20px;
}

.program-button {
  padding: 10px 20px;
  background-color: #000; 
  color: #00ff99;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: medium;
  margin-top: 20px;
}

.program-button:hover {
  background-color: #333; 
}
