<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Home Page</title>
</head>
<body>
    <div id="home-page">
        <!-- Button to go to login page -->
        <button id="custom-button" onclick="goToLoginPage()"></button>
    </div>

    <!-- JavaScript file inclusion -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
